body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* background glow */
  .background {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #3b82f6;
    filter: blur(150px);
    border-radius: 50%;
    top: 50px;
    left: 50px;
  }
  
  .card {
    position: relative;
    width: 350px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
  }
  
  .logo {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  input {
    width: 90%;
    padding: 12px ;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #2563eb;
    transform: scale(1.03);
  }
  
  p {
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    color: #cbd5e1;
  }
  
  p span {
    color: #3b82f6;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  
  .logout {
    background: red;
  }